{% extends 'expert/base.html' %}


{% block title %}
Connexion
{% endblock title %}

{% block main %}
	<style type="text/css">
		body{
			color: #fff;
			background: white;
			font-family: 'Roboto', sans-serif;
		
		}
		.form-control:focus{
			border-color: #5cb85c;
		}
		.form-control, .btn{        
			border-radius: 10px;
		}
	</style>
	<div class="container container-fluid mt-5 d-flex justify-content-center" id="loginContainer">
		<form class="col-md-5" action="{% url 'expert:login' %}" method="post">
			{% csrf_token %}
			<div class="mb-4 text-center">
				<h1 class="text-muted">Connexion</h1>
			</div>
			{% if error_msg %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{error_msg}}
				</div>
			{% endif %}
			<div class="form-group mb-3">
				<input type="text" name="login" id="id_login" class="form-control" placeholder="Login" required autofocus>
			</div>

			<div class="form-group mb-3">
				<input name="password" id="password" type="password" class="form-control" placeholder="Mot de passe"
				data-toggle="password" required>
			</div>
			<div class="form-group">
				<button class="btn btn-success btn-lg btn-block" type="submit">Se connecter</button>
			</div>
			<center>
       			<a href="{% url 'expert:signup' %}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Création de compte</a>
   			</center>	
		</form>
	</div>
{% endblock main %}