{% extends 'expert/base.html' %}

{% block title %}
	Pannes
{% endblock title %}


{% block main %}
  <div class="container mt-5">
    <h2><center><strong>Liste des pannes</strong></center></h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Code</th>
          <th scope="col">Intitulé</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>RAM</td>
            
            <td><p align="justify">Placez corectement les RAM ou les changez</p></td>
          
      </tr>
        <tr>
          <th scope="row">2</th>
          <td>Carte graphique</td>
          <td><p align="justify">Rechauffer la carte graphique ou la changer</p></td>
        </tr>
      <tr>
          <th scope="row">3</th>
          <td>Processeur </td>
          <td><p align="justify">L’électronique est une science technique, ou science de l’ingénieur, constituant l'une des branches les plus importantes de la physique appliquée, qui étudie et conçoit les structures effectuant des traitements de signaux électriques, c'est-à-dire de courants ou de tensions électriques, porteurs d’informations.</p></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Ecran</td>
          <td><p align="justify">Changez l'écran</p></td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Souris</td>
          <td><p align="justify">Changez votre souris</p></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Clavier</td>
          <td><p align="justify">Changez votre clavier</p></td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Ventilateur</td>
          <td><p align="justify">Nettoyer votre ventilateur ou changez le</p></td>
        </tr>
      
        <tr>
          <th scope="row">8</th>
          <td>Disque dur</td>
          <td><p align="justify">Changez votre disque dur</p></td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Chargeur</td>
          <td><p align="justify">Changez de chargeur</p></td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>ROM</td>
          <td><p align="justify">Changez votre mémoire</p></td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Boitier d'alimentation</td>
          <td><p align="justify">Changez votre alimentation</p></td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Chipset</td>
          <td><p align="justify">Problème de chipset</p></td>
        </tr>
        <tr>
          <th scope="row">13</th>
          <td>Imprimante</td>
          <td><p align="justify">Vérifiez si vous etes dans le réseau</p></td>
        </tr>
        <tr>
          <th scope="row">14</th>
          <td>Bouton d'allumage</td>
          <td><p align="justify">Changez votre bouton d'allumage</p></td>
        </tr>
      <tr>
          <th scope="row">15</th>
          <td>Pile</td>
          <td><p align="justify">Vérifiez votre pile</p></td>
        </tr>
      <tr>
          <th scope="row">16</th>
          <td>Cablage</td>
          <td><p align="justify">Vérifiez votre cablage</p></td>
        </tr>
      
      
      
      
      
      
      
      
      
      </tbody>
    </table>
  </div>
{% endblock main %}

